<div class="container">
  <div class="row">
    <div class="col-12">
  <p paraSelect>
    Note: If subjects are not displayed for submission, they will be enabled soon. 
    Download booklets before the deadline.
  </p>
  <p addCss>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, minima iusto numquam quod voluptas harum qui aliquam doloremque, perspiciatis dolorum culpa sed dolor, eveniet vel.
  </p>
  <p cssSelect>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium voluptatem natus provident facilis et nihil sed aliquid unde fuga earum distinctio praesentium, alias vitae assumenda.</p>
  <p appCssStyle>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, tempore vitae, deserunt dolores earum vero doloribus repellat nemo esse perspiciatis laborum quos delectus illo aliquam.
  </p>
  <p appCsshighlight>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. At alias veritatis amet explicabo neque dolor. Explicabo aliquid reprehenderit, pariatur adipisci velit qui obcaecati officia id?
  </p>
    </div>
  </div>
</div>

